<div class="container">
  <div class="toolbar" role="banner">Note Mate</div>

  <div class="content" role="main">
    <ng-container [ngSwitch]="switchService.route">
      <app-notes-list *ngSwitchCase="'notesList'"></app-notes-list>

      <app-notes-form *ngSwitchCase="'noteForm'"></app-notes-form>

      <button
        *ngIf="switchService.route === 'notesList'"
        (click)="switchService.showNoteForm()"
        class="addButton"
      >
        + Add
      </button>
    </ng-container>
  </div>
</div>
