<div class="form">
  <form [formGroup]="noteForm" (ngSubmit)="onSubmit()" id="form">
    <label for="title" class="label"> Title </label>
    <input
      id="title"
      placeholder="New Note"
      class="input"
      formControlName="title"
    />
    <label for="body" class="label"> Body </label>
    <textarea id="body" class="input" rows="6" formControlName="desc">
    </textarea>
    <span *ngIf="!isValid" class="form-error">all fields are required</span>
    <div class="button-group">
      <button
        class="button button-cancel"
        type="button"
        (click)="switchService.showNotesList()"
      >
        Cancel
      </button>
      <ng-container [ngSwitch]="isToUpdate">
        <button
          class="button button-save"
          *ngSwitchCase="true"
          (click)="onUpdate(switchService.note)"
          type="button"
        >
          Update
        </button>
        <button class="button button-save" *ngSwitchCase="false" type="submit">
          Save
        </button>
      </ng-container>
    </div>
  </form>
</div>
